@import '../../../../../assets/styles/_mixins/breakpoint';
@import '../../../../../assets/styles/_mixins/convert-px2rem';

.project-life-time {
  font-family: var(--font-family__Inter-Medium);

  .icon {
    width: convert-px2rem(17);
    min-width: convert-px2rem(17);
    height: convert-px2rem(17);
  }

  @include breakpoint($b-tabletS__max) {
    font-size: convert-px2rem(12);
    margin-left: convert-px2rem(10);
  }

  .icon {
    margin-right: convert-px2rem(5);
  }

  .timer {
    &__value,
    &__separator {
      font-family: var(--font-family__Inter-Medium);
    }
  }
}
