@import '../../../assets/styles/_mixins/breakpoint';
@import '../../../assets/styles/_mixins/convert-px2rem';

.voting {
  color: var(--color__black);
  position: relative;
  @include breakpoint($b-laptop) {
    margin: convert-px2rem(10) 0 convert-px2rem(10) convert-px2rem(20);
  }

  &__control {
    margin-top: convert-px2rem(10);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    position: absolute;
    left: 0;
    bottom: convert-px2rem(50);
  }

  &__buttonVote {
    padding-left: convert-px2rem(35);
    padding-right: convert-px2rem(35);
    min-width: convert-px2rem(95) !important;
    background-color: var(--color__blue-2) !important;

    :global {
      .text {
        font-size: convert-px2rem(12);
      }
    }
  }
}
