@import '../../../../../../../assets/styles/_mixins/convert-px2rem';
@import '../../../../../../../assets/styles/_mixins/breakpoint';

.project-action-button {
  width: 100% !important;
  min-width: convert-px2rem(180) !important;
  max-width: convert-px2rem(180) !important;
  height: convert-px2rem(50);
  opacity: 1 !important;
  overflow: hidden;
  padding-left: convert-px2rem(15) !important;
  padding-right: convert-px2rem(15) !important;
  @include breakpoint($b-laptop) {
    height: convert-px2rem(50);
    padding-left: convert-px2rem(20) !important;
    padding-right: convert-px2rem(20) !important;
  }

  &.button:not(.in_process):not(:disabled):not(.disabled):not(.active):hover {
    @include breakpoint($b-laptop) {
      background-color: var(--color__black) !important;
      border-color: var(--color__black) !important;

      .text {
        color: var(--color__white) !important;
      }
    }
  }

  &_more {
    .text {
    }
  }

  &.button-without-icon {
    min-width: convert-px2rem(120) !important;
  }

  &:not(.project-action-button_in) {
    .text {
      font-size: convert-px2rem(14) !important;
    }
  }

  .text {
    letter-spacing: normal !important;
    transition: none !important;
    min-width: convert-px2rem(72);
  }

  svg {
    width: convert-px2rem(20.02);
    height: auto !important;
    margin-right: convert-px2rem(8) !important;
    @include breakpoint($b-laptop) {
      width: convert-px2rem(24.02);
    }

    path {
      transition: none !important;
    }
  }
}
