@import '../../../../../../../assets/styles/_mixins/convert-px2rem';
@import '../../../../../../../assets/styles/_mixins/breakpoint';

.editFieldsButton {
  $size: convert-px2rem(25);
  opacity: 1 !important;
  padding: 0 !important;
  border-width: 1px;
  width: $size !important;
  min-width: $size !important;
  height: $size !important;
  transition: background-color var(--transition-duration) ease !important;
  vertical-align: super;

  &:not(.active):not(.in_process):not(:disabled):not(.disabled):hover {
    @include breakpoint($b-laptop) {
      background-color: var(--color__gray-5) !important;
    }
  }
}
