@import '../../../../../../assets/styles/_mixins/breakpoint';
@import '../../../../../../assets/styles/_mixins/convert-px2rem';

.sliderWrapper {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
}
