@import '../../../../../assets/styles/_mixins/breakpoint';
@import '../../../../../assets/styles/_mixins/convert-px2rem';

a {
  transition: opacity var(--transition-duration) ease,
  color var(--transition-duration) ease,
  border-color var(--transition-duration) ease,
  background-color var(--transition-duration) ease !important;

  &.focused {
    @include breakpoint($b-laptop) {
      border-color: var(--color__gray-4);
      background-color: var(--color__gray-5) !important;
    }
  }
}

.link {
  display: inline-block;
  text-decoration: none;
  letter-spacing: 0.01em;
  line-height: inherit;
  border-bottom: 1px solid transparent;
  cursor: pointer;
  position: relative;

  &.underline {
    border-color: currentColor;
    margin-bottom: -1px;

    &:hover {
      @include breakpoint($b-laptop) {
        border-color: transparent !important;
      }
    }
  }

  &.disabled {
    opacity: 0.5;
    cursor: default !important;
  }

  &.active {
    color: var(--color__blue) !important;
  }

  .text {
    display: block;
  }

  svg {
    * {
      transition: fill var(--transition-duration) ease;
    }
  }

  &:not(:disabled):not(.disabled):not(.active) {
    &:hover {
      @include breakpoint($b-laptop) {
        opacity: var(--hover-opacity);
        text-decoration: none;
      }
    }
  }
}
