@import '../../../../../../assets/styles/_mixins/breakpoint';
@import '../../../../../../assets/styles/_mixins/convert-px2rem';

.fundingNow {
  width: 100%;
  padding-top: convert-px2rem(15);
  padding-bottom: convert-px2rem(20);
  @include breakpoint($b-laptop) {
    padding-top: convert-px2rem(30);
    padding-bottom: 0;
  }

  &__title {
    width: 100%;
    margin-bottom: convert-px2rem(0);
  }

  &__wrapper {
    width: 100%;
    position: relative;
    margin-top: convert-px2rem(-5);
  }

  &__container {
    width: 100vw;
    margin: 0 convert-px2rem(-10);
    display: flex;
    flex-direction: row !important;

    @include breakpoint($b-laptop) {
      width: calc(100% + #{convert-px2rem((10 + 1.5) * 2)});
    }
  }

  &__list {
    min-width: convert-px2rem(1225 - 140 + 20 + 3 + 32);
    margin: 0 convert-px2rem(3) convert-px2rem(10);
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    @include breakpoint($b-laptop) {
      margin: 0 auto convert-px2rem(10);
      width: convert-px2rem(1225 + 20 + 3);
    }
  }

  &__horizontalScrollLayout {
    height: convert-px2rem(295);
    @include breakpoint($b-laptop) {
      height: convert-px2rem(308);
    }
  }

  :global {
    .preloader-process {
      margin: 0 convert-px2rem(-10);
      width: calc(100% + #{convert-px2rem(20)});
      @include breakpoint($b-laptop) {
        margin: 0 convert-px2rem(-13);
        width: calc(100% + #{convert-px2rem(26)});
      }
    }
  }
}
