@import '../../../../../../assets/styles/_mixins/breakpoint';
@import '../../../../../../assets/styles/_mixins/convert-px2rem';

.MainBanner {
  background-color: #F0F0F0;
  overflow: hidden;
  min-height: 100dvh;
  display: flex;

  &__wrapper {
    position: relative;
    width: 100%;
    padding-top: convert-px2rem(50);
    padding-bottom: convert-px2rem(97);
    @include breakpoint($b-tabletS__max) {
      padding-left: convert-px2rem(15);
      padding-right: convert-px2rem(15);
      padding-top: convert-px2rem(10);
      padding-bottom: convert-px2rem(53);
    }
    align-items: center;
    max-width: 100vw;
    min-height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &__images {
    padding-top: convert-px2rem(70);
    position: relative;
    border-bottom: convert-px2rem(1) solid #000;
    overflow: hidden;
    display: flex;
    justify-content: center;
    width: convert-px2rem(445);
    @include breakpoint($b-tabletS__max) {
      padding-top: convert-px2rem(35);
      width: convert-px2rem(307);
    }
    @include breakpoint($b-mobileS__max) {
      width: convert-px2rem(282);
    }
  }

  &__vinil {
    position: absolute;
    top: 50%;
    translate: 0 -25%;
    width: convert-px2rem(222);
    height: convert-px2rem(222);
    left: convert-px2rem(3);
    transform: rotate(90deg);
    margin-top: convert-px2rem(-6);
    margin-left: convert-px2rem(4);
    &.MainBanner__vinilAnimation {
      //animation: animationVinil 0.75s cubic-bezier(0.215, 0.61, 0.355, 1) 0.3s forwards;
      animation: animationVinil 1s cubic-bezier(0, 0, 0.05, 1) 0.3s forwards;
    }
    @include breakpoint($b-tabletS__max) {
      translate: 0 -37%;
      width: convert-px2rem(153);
      height: convert-px2rem(153);
      margin-top: convert-px2rem(6);
      margin-left: convert-px2rem(3);
    }

    @include breakpoint($b-mobileS__max) {
      translate: 0 -37%;
      width: convert-px2rem(153);
      height: convert-px2rem(153);
      margin-top: convert-px2rem(8);
      margin-left: convert-px2rem(0);
    }
  }

  &__image {
    position: relative;
    z-index: 2;
    width: convert-px2rem(195);
    height: convert-px2rem(395);
    text-align: center;
    margin-bottom: convert-px2rem(-115);
    right: -24%;
    transform: rotate(8deg);
    &.MainBanner__imageAnimation {
      //animation: animationPhone 0.75s cubic-bezier(0.215, 0.61, 0.355, 1) 0.3s forwards;
      animation: animationPhone 1s cubic-bezier(0, 0, 0.05, 1) 0.3s forwards;
    }
    @include breakpoint($b-tabletS__max) {
      margin-bottom: convert-px2rem(-80);
      width: convert-px2rem(135);
      height: convert-px2rem(273);
    }
    @include breakpoint($b-mobileS__max) {
      margin-bottom: convert-px2rem(-80);
      width: convert-px2rem(135);
      height: convert-px2rem(273);
      margin-left: convert-px2rem(18);
    }
  }

  &__title {
    margin-top: convert-px2rem(37);
    color: #000;
    text-align: center;
    font-size: convert-px2rem(45);
    line-height: 100%;
    letter-spacing: convert-px2rem(1.5);
    /*font-family: var(--font-family__Inter-Black);*/
    font-family: 'Inter', sans-serif;
    font-weight: 900;
    @include breakpoint($b-tabletS__max) {
      margin-top: convert-px2rem(24);
      font-size: convert-px2rem(35);
      line-height: 108.571%;
    }
    @include breakpoint($b-mobileS__max) {
      margin-top: convert-px2rem(22);
      font-size: convert-px2rem(24);
      letter-spacing: convert-px2rem(0.48);
      line-height: 125%;
    }
  }

  &__desc {
    font-size: convert-px2rem(16);
    margin: convert-px2rem(30) auto 0;
    max-width: convert-px2rem(555);
    text-align: center;
    line-height: 137.5%;
    letter-spacing: convert-px2rem(0.8);
    @include breakpoint($b-tabletS__max) {
      margin: convert-px2rem(20) auto 0;
      font-size: convert-px2rem(12);
      max-width: convert-px2rem(392);
      letter-spacing: convert-px2rem(0.6);
      line-height: 125%;
    }
    @include breakpoint($b-mobileS__max) { 
      margin: convert-px2rem(30) auto 0;
      line-height: 133%;
      max-width: convert-px2rem(350);
    }

  }

  &__brdsk {
    @include breakpoint($b-mobileS__max) {
      display: none;
    }
  } 
  &__brmob {
    display: none;
    @include breakpoint($b-mobileS__max) {
      display: inline;
    }
  }

  &__button {
    margin-top: convert-px2rem(36);
    border-radius: convert-px2rem(10);
    font-size: convert-px2rem(16);
    padding: convert-px2rem(15) convert-px2rem(40) !important;
    /*font-family: var(--font-family__Inter-Bold);*/
    font-family: 'Inter', sans-serif;
    font-weight: 700;

    @include breakpoint($b-tabletS__max) {
      margin-top: convert-px2rem(20);
      font-size: convert-px2rem(12);
      min-height: convert-px2rem(35);
      min-width: convert-px2rem(135) !important;
      padding: convert-px2rem(5) convert-px2rem(20) !important;
    }
    @include breakpoint($b-mobileS__max) {
      margin-top: convert-px2rem(30);
      font-size: convert-px2rem(14);
      letter-spacing: convert-px2rem(0.7);
      min-height: convert-px2rem(50);
      min-width: convert-px2rem(215) !important;
    }
    &::after {
      border-radius: inherit;
    }
  }

  &__modalClose {
    position: absolute;
    top: convert-px2rem(30);
    right: convert-px2rem(30);
    @include breakpoint($b-tabletS__max) { 
      top: convert-px2rem(20);
      right: convert-px2rem(20);
    }
    @include breakpoint($b-mobileS__max) {
      top: convert-px2rem(30);
      right: convert-px2rem(25);
      & svg {
        width: convert-px2rem(18);
        height:  convert-px2rem(18);

      }
    }
  }

  &__modalTitle {
    color: #000;
    text-align: center;
    font-size: convert-px2rem(30);
    line-height: 100%;
    letter-spacing: convert-px2rem(0.6);
    /*font-family: var(--font-family__Inter-Black);*/
    font-family: 'Inter', sans-serif;
    font-weight: 900;
    & br {
      display: none;
    }
    @include breakpoint($b-tabletS__max) {
      font-size: convert-px2rem(22);
    }
    @include breakpoint($b-mobileS__max) {
      font-size: convert-px2rem(30);
      & br {
        display: block;
      }
    }
  }

  &__modalSubtitle {
    color: #000;
    text-align: center;
    font-size: convert-px2rem(16);
    line-height: 137.5%;
    letter-spacing: convert-px2rem(0.8);
    max-width: convert-px2rem(580);
    margin: convert-px2rem(34) auto 0;
    @include breakpoint($b-tabletS__max) { 
      margin: convert-px2rem(18) auto 0;
      max-width: convert-px2rem(440);
      font-size: convert-px2rem(12);
      line-height: 125%;
      letter-spacing: convert-px2rem(0.6);
    }
    @include breakpoint($b-mobileS__max) {
      margin: convert-px2rem(46) auto 0;
      max-width: convert-px2rem(320);
     }
  }

  &__modalCards {
    margin: convert-px2rem(28) 0 0 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: convert-px2rem(6);
    @include breakpoint($b-tabletS__max) { 
      margin: convert-px2rem(23) 0 0 0;
      gap: convert-px2rem(5);
    }
    @include breakpoint($b-mobileS__max) {
      margin: convert-px2rem(50) 0 0 0;
      grid-template-columns: 1fr;
      gap: convert-px2rem(16);
     }
  }

  &__modalCard {
    display: flex;
    flex-direction: column;
    &:nth-child(1) {
      .MainBanner__modalCardCaption {
        @include breakpoint($b-tabletS__max) { 
          font-size: convert-px2rem(16);
          line-height: 125%;
          letter-spacing: convert-px2rem(0.8);
        }
        @include breakpoint($b-mobileS__max) {
          font-size: convert-px2rem(22);
          line-height: 100%;
          letter-spacing: convert-px2rem(0.44);
        }
      }
      .MainBanner__modalCardImage {
        @include breakpoint($b-tabletS__max) {  
          & img {
            max-width: 80%;
            height: convert-px2rem(82);;
          }
        }
        @include breakpoint($b-mobileS__max) {
          height: auto;
          & img {
            max-width: 90%;
            width: 100%;
            height: auto;
          }
        }
      }
    }
  }

  &__modalCardWrapper {
    border-radius: convert-px2rem(10);
    background: #fff;
    padding: convert-px2rem(24) convert-px2rem(20) convert-px2rem(40);
    display: flex;
    flex-direction: column;
    @include breakpoint($b-tabletS__max) { 
      padding: convert-px2rem(14) convert-px2rem(20) convert-px2rem(5);
    }
    @include breakpoint($b-mobileS__max) { 
      padding: convert-px2rem(34) convert-px2rem(40) convert-px2rem(5);
    }
  }

  &__modalCardCaption {
    color: #000;
    text-align: center;
    /*font-family: var(--font-family__Inter-Bold);*/
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: convert-px2rem(16);
    line-height: 125%;
    letter-spacing: convert-px2rem(0.8);
    @include breakpoint($b-tabletS__max) { 
      font-size: convert-px2rem(14);
      line-height: 142.857%;
      letter-spacing: convert-px2rem(0.7);
    }
    @include breakpoint($b-mobileS__max) {
      font-size: convert-px2rem(22);
      line-height: 100%;
      letter-spacing: convert-px2rem(0.44);
    }
  }

  &__modalCardDesc {
    margin: convert-px2rem(18) 0 auto 0;
    color: #000;
    text-align: center;
    font-size: convert-px2rem(16);
    line-height: 125%;
    letter-spacing: convert-px2rem(0.8);
    min-height: convert-px2rem(45);
    & br {
      display: none;
    }
    @include breakpoint($b-tabletS__max) { 
      font-size: convert-px2rem(13);
      line-height: 123%;
      letter-spacing: convert-px2rem(0.65);
    }
    @include breakpoint($b-mobileS__max) {
      font-size: convert-px2rem(16);
      line-height: 125%;
      letter-spacing: convert-px2rem(0.8);
      max-width: convert-px2rem(320);
      margin: convert-px2rem(24) auto auto;
      & br {
        display: block;
      }
    }
  }

  &__modalCardImage {
    margin-top: convert-px2rem(16);
    height: convert-px2rem(127);
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: convert-px2rem(1) solid #000;
    text-align: center;
    width: 100%;
    @include breakpoint($b-tabletS__max) { 
      margin-top: convert-px2rem(8);
      height: convert-px2rem(101);
    }
    @include breakpoint($b-mobileS__max) { 
      margin-top: convert-px2rem(60);
      height: convert-px2rem(183);
    }
 
    & img {
      max-width: 100%;
      width: auto;
      height: 100%;
    }
  }

  &__modalCardFooter {
    margin-top: convert-px2rem(35);
    color: #000;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: convert-px2rem(15);
    min-height: convert-px2rem(68);
    line-height: 133.333%;
    letter-spacing: convert-px2rem(0.75);
    & br {
      display: none;
    }
    @include breakpoint($b-tabletS__max) {   
      margin-top: convert-px2rem(5);
      margin-left: convert-px2rem(-5);
      margin-right: convert-px2rem(-5);
      line-height: 116.667%;
      letter-spacing: convert-px2rem(0.6);
      font-size: convert-px2rem(12);
    }
    @include breakpoint($b-tabletS__max) {   
      margin-top: convert-px2rem(5);
      margin-left: 0;
      margin-right: 0;
      line-height: 116.667%;
      letter-spacing: convert-px2rem(0.6);
      min-height: convert-px2rem(135);
      font-size: convert-px2rem(15);
      & br {
        display: block;
      }
    }
  }

  &__modalBottom {
    margin-top: convert-px2rem(12);
    font-size: convert-px2rem(12);
    line-height: 133.333%;
    text-align: center;
    letter-spacing: convert-px2rem(0.6);
    & br {
      display: none;
    }
    @include breakpoint($b-tabletS__max) { 
      margin-top: convert-px2rem(10);
      font-size: convert-px2rem(11);
      letter-spacing: convert-px2rem(0.55);
      & br {
        display: block;
      }
    }
    @include breakpoint($b-mobileS__max) { 
      margin-top: convert-px2rem(15);
      max-width: convert-px2rem(300);
      font-size: convert-px2rem(12);
      letter-spacing: convert-px2rem(0.6);
      min-height: convert-px2rem(64);
      margin-left: auto;
      margin-right: auto;
      & br {
        display: none;
      }
    }
  }

  &__modalFooter {
    margin: convert-px2rem(18) auto 0;
    color: #000;
    text-align: center;
    font-size: convert-px2rem(14);
    max-width: convert-px2rem(570);
    line-height: 142.857%;
    letter-spacing: convert-px2rem(0.7);
    @include breakpoint($b-tabletS__max) { 
      margin: convert-px2rem(14) auto 0;
      font-size: convert-px2rem(12);
      line-height: 133.33%;
      max-width: convert-px2rem(500);
      letter-spacing: convert-px2rem(0.6);
    }
    @include breakpoint($b-mobileS__max) { 
     & strong {
      display: block;
     }
    }
  }

  &__modalBtn {
    margin: convert-px2rem(30) auto 0;
    width: convert-px2rem(204);
    min-height: convert-px2rem(50);
    color: #000;
    text-align: center;
    /*font-family: var(--font-family__Inter-Bold);*/
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    line-height: 168.75%;
    letter-spacing: convert-px2rem(0.8);
    border-radius: convert-px2rem(10);
    background-color: #fff;
    @include breakpoint($b-tabletS__max) { 
      margin: convert-px2rem(20) auto 0;
      width: convert-px2rem(106);
      min-height: convert-px2rem(30);
      font-size: convert-px2rem(12);
    }
    @include breakpoint($b-tabletS__max) { 
      margin: convert-px2rem(40) auto 0;
      width: 100%;
      min-height: convert-px2rem(58);
      font-size: convert-px2rem(14);
    }
  }
}

@keyframes animationPhone {
  0% {
    right: -24%;
    transform: rotate(8deg);
  }
  100% {
    transform: rotate(14deg);
    right: -7%;
  }
}

@keyframes animationVinil {
  0% {
    left: convert-px2rem(1);
    transform: rotate(90deg);
  }
  100% {
    transform: rotate(360deg);
    left: 11%;
  }
}