@import '../../../../../assets/styles/_mixins/convert-px2rem';
@import '../../../../../assets/styles/_mixins/breakpoint';

.tabContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;

  &_offset_bottom {
    margin-top: convert-px2rem(20);
  }
}
