@import '../../../../assets/styles/_mixins/breakpoint';
@import '../../../../assets/styles/_mixins/convert-px2rem';

.personalTabs {
  margin-bottom: convert-px2rem(15);
  border-bottom: 1px solid var(--color__gray-4);
  @include breakpoint($b-laptop) {
    margin-top: convert-px2rem(110);
  }

  .horizontalScrollLayout {
    &__content {
      align-items: stretch;
      width: max-content;
    }
  }
}
