@import '../../../../assets/styles/_mixins/breakpoint';
@import '../../../../assets/styles/_mixins/convert-px2rem';

$footer_padding_x: convert-px2rem(20);
$footer_padding_y: convert-px2rem(20);
$footer_max_width: convert-px2rem(1225);
$footer_font_size: convert-px2rem(16);
$navigation_margin-x__footer: convert-px2rem(5);
$navigation_font-size__footer: convert-px2rem(16);
$copyright_margin_left: convert-px2rem(10);

.footer {
  width: 100vw;
  background-color: var(--color__gray-4);
  color: var(--color__gray-2);
  letter-spacing: 0.01em;
  line-height: var(--font-line-height);

  &.footer_black {
    background: #000;
    color: #fff;
    & svg {
      display: none;
    }
    .footer__navigation {
      margin-left: convert-px2rem(20);
      background-color: #000;
      color: #fff !important;

      // @include breakpoint($b-tabletS__max) {
      @include breakpoint($b-mobileS__max) {
        margin-left: 0;
      }
    }
    .footer__copyright {
      margin-left: auto;
      background-color: #000;
      color: #fff;
    }
  }

  &__wrapper {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    // @include breakpoint($b-tabletS__max) {
    @include breakpoint($b-mobileS__max) {
      flex-direction: column-reverse;
      justify-content: flex-start;
    }

    @include breakpoint($b-laptop) {
      max-width: calc(#{$footer_max_width} + #{$footer_padding_x} * 2);
    }
  }

  &__navigation {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    // @include breakpoint($b-tabletS__max) {

    @include breakpoint($b-mobileS__max) {
      padding: convert-px2rem(24) convert-px2rem(5);
      width: 100%;
      background-color: var(--color__white);
      justify-content: flex-end;
    }

    @include breakpoint($b-laptop) {
      margin-left: auto;
      margin-right: convert-px2rem(15);
    }
  }

  &__language {
    display: flex;
    align-items: center;
    padding: $footer_padding_y $footer_padding_x;

    // @include breakpoint($b-tabletS__max) {

    @include breakpoint($b-mobileS__max) {
      min-height: convert-px2rem(70);
      padding: convert-px2rem(25) $footer_padding_x;
    }

    @include breakpoint($b-laptop) {
      margin-left: convert-px2rem(11);
    }
  }

  &__copyright {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: $footer_padding_y $footer_padding_x;

    // @include breakpoint($b-tabletS__max) {
    @include breakpoint($b-mobileS__max) {
      align-items: flex-start;
      padding: convert-px2rem(10) $footer_padding_x convert-px2rem(5);
      order: 2;
      background-color: var(--color__gray-3);
      width: 100%;
      flex-direction: column;
      color: var(--color__black);
    }

    &__text {
      font-size: $footer_font_size;

      @include breakpoint($b-tablet__max) {
        font-size: convert-px2rem(10);
      }

      @include breakpoint($b-mobileS__max) {
        font-size: convert-px2rem(12);
      }

      // @include breakpoint($b-tabletS__max) {
      @include breakpoint($b-mobileS__max) {
        margin-top: convert-px2rem(5);
      }
      @include breakpoint($b-laptop) {
        margin-left: $copyright_margin_left;
      }
    }
  }
}

.footerNav {
  flex-wrap: wrap;
  width: 100%;
  max-width: 40em;
  font-size: convert-px2rem(16);

  // @include breakpoint($b-tabletS__max) {
  @include breakpoint($b-mobileS__max) {
    flex-direction: column;
    align-items: end;
    row-gap: calc(1rem * 12 / var(--font-size__small-int));
  }

  &.footerNav_black {
    :global {
      .link {
        color: #fff;
      }
    }
  }

  :global {
    .link {
      flex-grow: 2;
      margin: 0 $navigation_margin-x__footer;
      text-align: center;
      color: var(--color__gray-2);
      letter-spacing: 0.01em;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;

      // @include breakpoint($b-tabletS__max) {
      @include breakpoint($b-mobileS__max) {
        flex-basis: calc(100% / 3 - #{$navigation_margin-x__footer} * 2);
        margin: 0.25em $navigation_margin-x__footer;
      }

      .text {
        flex-grow: 2;
        display: block;
        font-size: $navigation_font-size__footer;

        @include breakpoint($b-tablet__max) {
          font-size: convert-px2rem(10);
        }

        @include breakpoint($b-mobileS__max) {
          font-size: convert-px2rem(12);
        }

        // @include breakpoint($b-tabletS__max) {
        @include breakpoint($b-mobileS__max) {
          line-height: 1.25;
        }
      }
    }
  }
}
