@import '../../../../../../../../assets/styles/_mixins/convert-px2rem';
@import '../../../../../../../../assets/styles/_mixins/breakpoint';

.hamburger {
  z-index: 45;
  min-width: convert-px2rem(40);
  width: convert-px2rem(40);
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-left: convert-px2rem(5);
  margin-right: convert-px2rem(-10);

  &__iHamburger {
    width: convert-px2rem(22);
    height: convert-px2rem(21);
    position: relative;
  }

  &__line {
    position: absolute;
    left: 0;
    display: block;
    width: 100%;
    height: 2px;
    background-color: var(--color__black);
    will-change: transform;
    transition:
      transform var(--transition-duration) ease,
      opacity var(--transition-duration) ease;

    &:first-child {
      transform-origin: convert-px2rem(-0.5) convert-px2rem(6.5);
      top: 0;
    }

    &:last-child {
      transform-origin: 0 convert-px2rem(-4.5);
      bottom: 0;
    }

    &:nth-child(2) {
      top: 50%;
      margin-top: convert-px2rem(-1);
    }
  }
}
