@import '../../../../assets/styles/_mixins/breakpoint';
@import '../../../../assets/styles/_mixins/convert-px2rem';

.horizontalScrollLayout {
  width: 100%;

  &__content {
    width: max-content;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
  }

  &__scroll {
    :global {
      .ScrollbarsCustom {
        &-TrackX {
          height: 0 !important;
        }

        &-Content {
          justify-content: center;
        }
      }
    }
  }
}
