@import '../../../../assets/styles/_mixins/breakpoint';
@import '../../../../assets/styles/_mixins/convert-px2rem';

.sideBar {
  $side-bar_width: convert-px2rem(23);

  background-color: var(--color__white);
  width: auto;
  position: relative;
  z-index: 50;
  @include breakpoint($b-tabletS__max) {
    z-index: 500;
  }

  @include breakpoint($b-laptop) {
    margin-left: convert-px2rem(-10);
    width: calc(20% + #{$side-bar_width});
    min-width: calc(20% + #{$side-bar_width});
    margin-right: convert-px2rem(57);
  }

  &_bottom_minus {
    @include breakpoint($b-tabletS__max) {
      padding-bottom: 0;
      margin-bottom: convert-px2rem(-105);
      margin-top: convert-px2rem(60);
    }
  }
}
