@import '../../../../assets/styles/_mixins/convert-px2rem';

$duration: 300ms;

.systemMessagesAnimation {
  &-enter {
    padding-top: 0 !important;
    padding-bottom: 0 !important;

    :global {
      .system-message__content {
        opacity: 0 !important;
        height: 0 !important;
      }
    }

    &_done {
      padding-top: convert-px2rem(15) !important;
      padding-bottom: convert-px2rem(15) !important;
    }

    &_active {
      padding-top: convert-px2rem(15) !important;
      padding-bottom: convert-px2rem(15) !important;
      transition: padding $duration ease !important;

      :global {
        .system-message__content {
          opacity: 1 !important;
          height: convert-px2rem(70) !important;
          transition:
            opacity $duration ease,
            height $duration ease !important;
        }
      }
    }
  }

  &Exit {
    padding-top: convert-px2rem(15) !important;
    padding-bottom: convert-px2rem(15) !important;

    :global {
      .system-message__content {
        opacity: 1 !important;
        height: convert-px2rem(70) !important;
      }
    }

    &_active {
      padding-top: 0 !important;
      padding-bottom: 0 !important;
      transition: padding $duration ease !important;

      :global {
        .system-message__content {
          opacity: 0 !important;
          height: 0 !important;
          transition:
            opacity $duration ease,
            height $duration ease !important;
        }
      }
    }
  }
}
