@import '../../../../assets/styles/_mixins/convert-px2rem';
@import '../../../../assets/styles/_mixins/breakpoint';

.dropDownMenu {
  position: relative;

  &__item {
    width: 100%;
    padding: convert-px2rem(14) convert-px2rem(20);
    border-bottom: 1px solid var(--color__gray-3);
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: flex-end;
    opacity: 1 !important;
    transition: background-color var(--transition-duration) ease !important;
    color: var(--color__black) !important;
    margin: 0 !important;

    &:not(:disabled):hover {
      @include breakpoint($b-laptop) {
        background-color: var(--color__gray-5);
      }
    }

    &:last-child {
      border-bottom: none;
    }

    :global {
      .icon_spin {
        height: convert-px2rem(20);
        width: auto;
        opacity: 1 !important;
      }

      .option-icon {
        min-width: convert-px2rem(13);
        width: convert-px2rem(13);
        margin-right: convert-px2rem(15);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        svg {
          max-width: 100%;
        }
      }

      .text {
        font-size: convert-px2rem(13);
      }
    }
  }

  :global {
    .icon-arrow {
      margin-left: convert-px2rem(7);
      width: convert-px2rem(12);
      height: auto;
    }
  }
}
