@import '../../../../assets/styles/_mixins/breakpoint';
@import '../../../../assets/styles/_mixins/convert-px2rem';

$padding-x: convert-px2rem(20);

.siteWrapper {
  position: relative;
  width: 100%;
  padding: 0 convert-px2rem(15) convert-px2rem(40);
  margin: 0 auto;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;

  @include breakpoint($b-laptop) {
    max-width: convert-px2rem(1225 + 40);
    padding: convert-px2rem(30) $padding-x convert-px2rem(40);
  }

  &_padding_false {
    padding: 0;
    height: 100%;
  }

  &_padding_y_false {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  }

  &_padding_bottom_false {
    padding-bottom: 0 !important;
  }

  &_direction_row {
    flex-direction: row;
  }

  &_direction_column {
    flex-direction: column;
  }

  &_first_in_page {
    @include breakpoint($b-tabletS__max) {
      padding-top: convert-px2rem(10);
    }
  }

  & > :global(.preloader-process) {
    @include breakpoint($b-tabletS__max) {
      margin-left: convert-px2rem(-10);
      margin-right: convert-px2rem(-10);
      width: calc(100% + #{convert-px2rem(20)});
    }
  }
}
