@import '../../../../../../assets/styles/_mixins/breakpoint';
@import '../../../../../../assets/styles/_mixins/convert-px2rem';

.projectCardAbout {
  width: 100%;
  padding-bottom: convert-px2rem(15);

  @include breakpoint($b-laptop) {
    padding-bottom: convert-px2rem(30);
  }

  .showMore {
    margin-top: convert-px2rem(20);
  }
}

.projectCardAbout__founder {
  padding-top: 0;
  margin-top: 0;

  .projectCardDetails {
    &__container {
      padding-top: 0;
      margin-top: 0;
    }
  }
}
