@import '../../../../assets/styles/_mixins/convert-px2rem';
@import '../../../../assets/styles/_mixins/breakpoint';

.pageContent {
  &__titles {
    @include breakpoint($b-tabletS__max) {
      padding-top: convert-px2rem(10);
      padding-bottom: convert-px2rem(13);
    }
  }

  &__title {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: flex-start;
    font-size: convert-px2rem(18);
    line-height: convert-px2rem(24);
    @include breakpoint($b-laptop) {
      font-size: convert-px2rem(20);
    }
  }

  &__description {
    display: block;
    margin-top: convert-px2rem(8);
    max-width: convert-px2rem(800);
    @include breakpoint($b-tabletS__max) {
      font-size: convert-px2rem(12);
      line-height: convert-px2rem(18);
    }
  }
}
