@import '../../../../../../assets/styles/_mixins/breakpoint';
@import '../../../../../../assets/styles/_mixins/convert-px2rem';

.profileBarBalance {
  width: 100%;
  margin-top: convert-px2rem(25);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  .userBalance {
    width: calc(100% + #{convert-px2rem(50)});
    margin: 0 convert-px2rem(-25);
    flex-wrap: wrap;
    justify-content: center;

    &__value {
      line-height: convert-px2rem(25);
    }

    &__koin {
      margin: 0 0 convert-px2rem(10);
      padding: 0 convert-px2rem(25);

      :global {
        .coin-value {
          letter-spacing: -0.005em;
        }
      }
    }
  }
}
