@import '../../../../assets/styles/_mixins/breakpoint';
@import '../../../../assets/styles/_mixins/convert-px2rem';

.LiveBar {
  $width: convert-px2rem(358);

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  margin: 0;
  padding-top: convert-px2rem(15);
  @include breakpoint($b-laptop) {
    padding-top: convert-px2rem(26);
    max-width: $width;
    width: $width;
    min-width: $width;
    margin-left: convert-px2rem(24 + 30);
  }
}
