@font-face {
  font-family: 'Inter';
  src: url('../../fonts/Inter-Regular.eot');
  src:
    url('../../fonts/Inter-Regular.eot?#iefix') format('embedded-opentype'),
    // url('../fonts/Inter-Regular.svg#Inter') format('svg'),
    url('../../fonts/Inter-Regular.woff2') format('woff2'),
    url('../../fonts/Inter-Regular.woff') format('woff'),
    url('../../fonts/Inter-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Inter';
  src: url('../../fonts/Inter-Bold.eot');
  src:
    url('../../fonts/Inter-Bold.eot?#iefix') format('embedded-opentype'),
    // url('../fonts/Inter-Bold.svg#Inter') format('svg'),
    url('../../fonts/Inter-Bold.woff2') format('woff2'),
    url('../../fonts/Inter-Bold.woff') format('woff'),
    url('../../fonts/Inter-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Inter';
  src: url('../../fonts/Inter-Black.eot');
  src:
    url('../../fonts/Inter-Black.eot?#iefix') format('embedded-opentype'),
    // url('../fonts/Inter-Black.svg#Inter') format('svg'),
    url('../../fonts/Inter-Black.woff2') format('woff2'),
    url('../../fonts/Inter-Black.woff') format('woff'),
    url('../../fonts/Inter-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}
// @import '../_mixins/font-face';
//
// @include font-face('Inter-Light', '/fonts/Inter/Inter-Light/Inter-Light', normal, normal, 'oldie');
//
// @include font-face('Inter-Regular', '/fonts/Inter/Inter-Regular/Inter-Regular', normal, normal, 'oldie');
//
// @include font-face('Inter-Regular-Italic', '/fonts/Inter/Inter-Regular-Italic/Inter-Regular-Italic', normal, normal, 'oldie');
//
// @include font-face('Inter-Medium', '/fonts/Inter/Inter-Medium/Inter-Medium', normal, normal, 'oldie');
//
// @include font-face('Inter-Medium-Italic', '/fonts/Inter/Inter-Medium-Italic/Inter-Medium-Italic', normal, normal, 'oldie');
//
// @include font-face('Inter-SemiBold', '/fonts/Inter/Inter-SemiBold/Inter-SemiBold', normal, normal, 'oldie');
// @include font-face('Inter-Bold', '/fonts/Inter/Inter-Bold/Inter-Bold', normal, normal, 'oldie');
//
// @include font-face('Inter-Black', '/fonts/Inter/Inter-Black/Inter-Black', normal, normal, 'oldie');
//
// @include font-face('FuturaDemiC', '/fonts/FuturaDemiC/FuturaDemiC', normal, normal, 'oldie');
//
// @include font-face('FuturaPT-SemiBold', '/fonts/FuturaPT/FuturaPT-SemiBold/FuturaPT-SemiBold', normal, normal, 'oldie');
