@import '../../../../../assets/styles/_mixins/convert-px2rem';

$size: convert-px2rem(15);
$label-offset: convert-px2rem(6);
$checker-size: convert-px2rem(6);
$checker-weight: convert-px2rem(2);
$font-size__text: convert-px2rem(12);
$size-rounded: convert-px2rem(20);

.checkbox {
  position: relative;
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: left;

  input {
    width: 0;
    max-width: 0;
  }

  &Block {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin: convert-px2rem(15) 0;

    &_checked {
      &.checkboxBlock_dark {
        .checkbox__ok {
          background-color: var(--color__gray-1);
          border-color: var(--color__gray-1);
        }
      }
    }

    &_withBorderRadius {
      .checkbox__ok {
        border-radius: convert-px2rem(2);
      }
    }

    &_disabled {
      opacity: 0.5;

      .checkbox {
        cursor: default !important;

        span,
        &__ok,
        &__text {
          cursor: default !important;
        }
      }
    }

    &_rounded {
      width: $size-rounded;
      margin: 0;

      .checkbox__ok {
        width: $size-rounded;
        height: $size-rounded;
        border-radius: convert-px2rem(4);
      }
    }
  }

  &__text {
    padding-left: $label-offset;
    font-size: $font-size__text !important;
    cursor: pointer;
    display: block;
    letter-spacing: 0.01em;
    margin-top: convert-px2rem(-2);
    color: var(--color__gray-1);

    :global {
      .link {
        color: var(--color__black);
      }
    }
  }

  &__indicator {
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-start;
    justify-content: flex-start;
  }

  &__ok {
    padding-top: convert-px2rem(1);
    cursor: pointer;
    border: 1px solid var(--color__gray-3);
    position: relative;
    width: $size;
    min-width: $size;
    height: $size;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;

    svg {
      width: 70%;
      height: auto;
    }
  }

  &__changed {
    width: convert-px2rem(7);
    height: convert-px2rem(2);
    background-color: var(--color__black);
  }
}
