@import '../../../../../../assets/styles/_mixins/breakpoint';
@import '../../../../../../assets/styles/_mixins/convert-px2rem';

$size: convert-px2rem(8);

.eventMarker {
  font-size: 14px;
  border-radius: 50%;
  min-width: $size;
  width: $size;
  height: $size;
  background-color: var(--color__red);
  display: inline-flex;

  &_not_active {
    background-color: var(--color__gray-3);
  }
}
