@import '../../../../../../../assets/styles/_mixins/breakpoint';
@import '../../../../../../../assets/styles/_mixins/convert-px2rem';

.contactUsSuccess {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color__white);
  z-index: 100;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: convert-px2rem(20) 0;
  @include breakpoint($b-tabletS__max) {
    padding: convert-px2rem(20);
  }

  &__title {
    font-size: convert-px2rem(36);
    line-height: convert-px2rem(42);
    font-family: var(--font-family__FuturaDemiC);
    letter-spacing: 0;
    @include breakpoint($b-laptop) {
      font-size: convert-px2rem(32);
      line-height: convert-px2rem(38);
    }
  }

  &__description {
    padding-top: convert-px2rem(20);
    letter-spacing: 0.01em;
  }

  &__buttons {
    margin: convert-px2rem(25) 0 convert-px2rem(20);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    :global {
      .button {
        min-width: convert-px2rem(102) !important;
        padding: convert-px2rem(12) convert-px2rem(20) !important;
        margin: 0 convert-px2rem(5);

        .text {
          font-size: convert-px2rem(14);
        }
      }
    }
  }

  :global {
    .icon-support {
      width: convert-px2rem(45);
      height: auto;
      margin-bottom: convert-px2rem(10);
      @include breakpoint($b-laptop) {
        margin-bottom: convert-px2rem(20);
      }
    }
  }
}
