@import '../../../../assets/styles/_mixins/convert-px2rem';

.cont {
  overflow-y: scroll;
  height: 100vh;
  scroll-snap-type: y mandatory;
  scroll-padding: convert-px2rem(71);

  &__child {
    scroll-snap-align: start;
    overflow: hidden;
  }
}
