.cont {
  overflow-y: scroll;
  height: 100vh;
  scroll-snap-type: y proximity;
  scroll-padding: calc(1rem * 71 / var(--font-size__small-int));

  &__child {
    scroll-snap-align: start;
    overflow: hidden;
  }
}
