@import "../../../../../../assets/styles/_mixins/breakpoint";
@import "../../../../../../assets/styles/_mixins/convert-px2rem";

.HowPreOrderWorksPopup {
  &__popupIn {
    padding: 0;
    border-radius: convert-px2rem(10);

    @media (max-width: 1352px) {
      max-width: convert-px2rem(779) !important;
    }

    @media (max-width: 778px) {
      max-width: convert-px2rem(484) !important;
    }
  }

  &__popupContent {
    padding: 0;
  }

  &__popupHeader {
    display: none;
  }

  &__content {
    position: relative;
    margin: auto;
    text-align: center;
    font-size: convert-px2rem(16);
    padding: convert-px2rem(46) convert-px2rem(26) convert-px2rem(20);
    border-top-left-radius: convert-px2rem(10);
    border-top-right-radius: convert-px2rem(10);
    background: #f3f3f3;
    width: 100%;
    color: #000;
    letter-spacing: convert-px2rem(0.6);
    max-width: convert-px2rem(1080);
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);

    @include breakpoint($adaptive-width-tablet) {
      font-size: convert-px2rem(14);
      line-height: 1.33;
      padding: convert-px2rem(36) convert-px2rem(26);
      margin: auto;
      box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
      max-width: convert-px2rem(484);
    }

    @include breakpoint($adaptive-width-tablet3) {
      max-width: convert-px2rem(779);
      border-radius: convert-px2rem(10);
      padding: convert-px2rem(25) convert-px2rem(26) convert-px2rem(20);
    }

    @include breakpoint($adaptive-width-desktop-wide) {
      max-width: convert-px2rem(1082);
      padding: convert-px2rem(37) convert-px2rem(82) convert-px2rem(43);
    }
  }

  &__modalTitle {
    text-align: center;
    font-size: convert-px2rem(30);
    font-family: var(--font-family__Inter-Black);
    line-height: 1;
    letter-spacing: convert-px2rem(0.6);
    margin-bottom: convert-px2rem(20);

    @include breakpoint($adaptive-width-tablet3) {
      font-size: convert-px2rem(22);
      margin-bottom: convert-px2rem(15);
      letter-spacing: convert-px2rem(0.44);
    }

    @include breakpoint($adaptive-width-desktop-wide) {
      font-size: convert-px2rem(30);
      margin-bottom: convert-px2rem(30);
      letter-spacing: convert-px2rem(0.6);
    }
  }

  &__brmoddsk {
    display: none;

    @include breakpoint($adaptive-width-tablet3) {
      display: block;
    }
  }

  &__brmodmob {
    display: block;

    @include breakpoint($adaptive-width-tablet3) {
      display: none;
    }
  }

  &__brmodtab {
    display: block;

    @include breakpoint($adaptive-width-tablet3) {
      display: none;
    }
  }

  &__modalSubtitle {
    text-align: center;
    font-size: convert-px2rem(12);
    line-height: 1.33;
    letter-spacing: convert-px2rem(0.6);
    margin-bottom: convert-px2rem(29);

    @include breakpoint($adaptive-width-tablet3) {
      line-height: 1.25;
      margin-bottom: convert-px2rem(25);
    }

    @include breakpoint($adaptive-width-desktop-wide) {
      font-size: convert-px2rem(16);
      letter-spacing: convert-px2rem(0.8);
      line-height: 1.37;
      margin-bottom: convert-px2rem(29);
    }
  }

  &__modalCards {
    display: block;
    list-style-type: none;
    padding-left: 0;

    @include breakpoint($adaptive-width-tablet3) {
      display: flex;
    }
  }

  &__modalCard {
    display: block;
    margin-bottom: convert-px2rem(20);

    @include breakpoint($adaptive-width-tablet3) {
      width: 33%;
      flex-basis: 33%;
      margin-bottom: convert-px2rem(10);
      margin-left: convert-px2rem(5);

      &:first-child {
        margin-left: 0;
      }
    }

    @include breakpoint($adaptive-width-desktop-wide) {
      margin-left: convert-px2rem(6);
    }
  }

  &__modalCardWrapper {
    text-align: center;
    background-color: #fff;
    padding: convert-px2rem(27) convert-px2rem(32) convert-px2rem(36);
    border-radius: convert-px2rem(10);
    margin-bottom: convert-px2rem(13);

    @include breakpoint($adaptive-width-tablet3) {
      padding: convert-px2rem(14) convert-px2rem(22) convert-px2rem(20);
      border-radius: convert-px2rem(5);
      margin-bottom: convert-px2rem(10);
    }

    @include breakpoint($adaptive-width-desktop-wide) {
      padding: convert-px2rem(24) convert-px2rem(25) convert-px2rem(25);
      border-radius: convert-px2rem(10);
    }
  }

  &__modalCardCaption {
    font-size: convert-px2rem(22);
    font-family: var(--font-family__Inter-Bold);
    margin-bottom: convert-px2rem(20);
    letter-spacing: convert-px2rem(0.44);

    @include breakpoint($adaptive-width-tablet3) {
      font-size: convert-px2rem(16);
      margin-bottom: convert-px2rem(18);
      letter-spacing: convert-px2rem(0.8);
    }

    @include breakpoint($adaptive-width-desktop-wide) {
      margin-bottom: convert-px2rem(22);
    }
  }

  &__modalCardDesc {
    font-size: convert-px2rem(16);
    line-height: convert-px2rem(20);
    margin-bottom: convert-px2rem(40);
    letter-spacing: convert-px2rem(0.8);

    @include breakpoint($adaptive-width-tablet3) {
      font-size: convert-px2rem(13);
      line-height: convert-px2rem(16);
      min-height: convert-px2rem(32);
      margin: 0 convert-px2rem(-10) convert-px2rem(25);
      letter-spacing: convert-px2rem(0.65);
    }

    @include breakpoint($adaptive-width-desktop-wide) {
      font-size: convert-px2rem(16);
      line-height: convert-px2rem(20);
      letter-spacing: convert-px2rem(0.8);
      min-height: convert-px2rem(40);
    }
  }

  &__modalCardImage {
    border-bottom: 1px solid #000;
    margin-bottom: convert-px2rem(36);

    @include breakpoint($adaptive-width-tablet3) {
      height: convert-px2rem(105);
    }

    @include breakpoint($adaptive-width-desktop-wide) {
      height: convert-px2rem(132);
    }

    img {
      width: 100%;
      display: block;
      margin: 0 auto;
    }
  }

  &__img1 {
    max-width: convert-px2rem(242);

    @include breakpoint($adaptive-width-tablet3) {
      max-width: convert-px2rem(155);
      padding-top: convert-px2rem(15);
    }

    @include breakpoint($adaptive-width-desktop-wide) {
      max-width: convert-px2rem(218);
      padding-top: convert-px2rem(10);
    }
  }

  &__img2 {
    max-width: convert-px2rem(168);

    @include breakpoint($adaptive-width-tablet3) {
      max-width: convert-px2rem(120);
    }

    @include breakpoint($adaptive-width-desktop-wide) {
      max-width: convert-px2rem(160);
      position: relative;
      top: convert-px2rem(-8);
    }
  }

  &__img3 {
    max-width: convert-px2rem(100);

    @include breakpoint($adaptive-width-tablet3) {
      max-width: convert-px2rem(76);
      position: relative;
      top: convert-px2rem(-3);
    }

    @include breakpoint($adaptive-width-desktop-wide) {
      max-width: convert-px2rem(93);
      top: 0;
    }
  }

  &__modalCardFooter {
    font-size: convert-px2rem(15);
    line-height: 1.46;
    letter-spacing: convert-px2rem(0.75);
    margin: 0 convert-px2rem(-20);

    @include breakpoint($adaptive-width-tablet3) {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: convert-px2rem(12);
      line-height: 1.16;
      height: convert-px2rem(42);
      letter-spacing: convert-px2rem(0.6);
    }

    @include breakpoint($adaptive-width-desktop-wide) {
      font-size: convert-px2rem(15);
      line-height: 1.13;
      letter-spacing: convert-px2rem(0.75);
      height: convert-px2rem(51);
    }
  }

  &__modalBottom {
    text-align: center;
    font-size: convert-px2rem(12);
    line-height: 1.33;
    padding-bottom: convert-px2rem(15);
    letter-spacing: convert-px2rem(0.6);

    @include breakpoint($adaptive-width-tablet3) {
      font-size: convert-px2rem(11);
      line-height: convert-px2rem(14);
      letter-spacing: convert-px2rem(0.6);
      margin: 0 convert-px2rem(-10);
    }

    @include breakpoint($adaptive-width-desktop-wide) {
      font-size: convert-px2rem(12);
      line-height: convert-px2rem(16);
      letter-spacing: convert-px2rem(0.6);
    }

    strong {
      font-family: var(--font-family__Inter-Bold);
    }
  }

  &__modalFooter {
    font-size: convert-px2rem(12);
    line-height: 1.33;
    margin: convert-px2rem(-20) 0 convert-px2rem(20);

    @include breakpoint($adaptive-width-tablet3) {
      margin: convert-px2rem(-5) 0 convert-px2rem(20);
    }

    @include breakpoint($adaptive-width-desktop-wide) {
      font-size: convert-px2rem(14);
      line-height: convert-px2rem(20);
      margin-bottom: convert-px2rem(33);
    }

    strong {
      font-family: var(--font-family__Inter-Bold);
    }
  }

  &__modalBtn {
    background-color: #fff;
    font-size: convert-px2rem(14);
    font-family: var(--font-family__Inter-Bold);
    letter-spacing: convert-px2rem(0.7);
    width: 100%;
    padding: convert-px2rem(14) convert-px2rem(30);
    border: 0;
    cursor: pointer;
    border-radius: convert-px2rem(10);

    @include breakpoint($adaptive-width-tablet3) {
      width: auto;
      font-size: convert-px2rem(12);
      padding: convert-px2rem(8) convert-px2rem(34) convert-px2rem(7);
      border-radius: convert-px2rem(5);
    }

    @include breakpoint($adaptive-width-desktop-wide) {
      font-size: convert-px2rem(16);
      padding: convert-px2rem(15) convert-px2rem(78);
      border-radius: convert-px2rem(10);
    }
  }
}
