@import '../../../../../../../../assets/styles/_mixins/breakpoint';
@import '../../../../../../../../assets/styles/_mixins/convert-px2rem';

.userControl {
  min-height: convert-px2rem(50);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  @include breakpoint($b-tabletS__max) {
    height: 100%;
    width: 100%;
    filter: drop-shadow(0 convert-px2rem(10) convert-px2rem(10) rgba(0, 0, 0, 0.03));
  }

  & > .notificationCount {
    position: absolute;
    z-index: 8;
    left: auto;
    right: convert-px2rem(-8);
    top: convert-px2rem(6);
    @include breakpoint($b-laptop) {
      top: convert-px2rem(0);
      right: convert-px2rem(-5);
    }
  }
}
