@import '../../../../assets/styles/_mixins/breakpoint';
@import '../../../../assets/styles/_mixins/convert-px2rem';

.projectCard {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding-bottom: convert-px2rem(40);
  @include breakpoint($b-tabletS__max) {
    margin: convert-px2rem(-10) auto convert-px2rem(10);
    max-width: convert-px2rem(670);
  }
  @include breakpoint($b-laptop) {
    flex-direction: row;
    align-items: stretch;
    justify-content: space-between;
    padding-bottom: convert-px2rem(50);
  }

  &__content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    @include breakpoint($b-tabletS__max) {
      width: 100%;
    }
    @include breakpoint($b-laptop) {
      width: calc(100% - #{convert-px2rem(526)});
    }
  }

  &__aside {
    width: 100%;
    @include breakpoint($b-laptop) {
      max-width: convert-px2rem(426);
      padding-left: convert-px2rem(40);
      border-left: 1px solid var(--color__gray-4);
      margin-left: convert-px2rem(100);
    }
  }

  &__invite {
    padding-bottom: convert-px2rem(20);
    border-top: 1px solid var(--color__gray-4);

    .contributor {
      margin-top: convert-px2rem(20);
    }

    .projectRoleInfo {
      &:first-child {
        @include breakpoint($b-tabletS__max) {
          margin-top: 0;
        }
      }
    }
  }

  &__about {
    @include breakpoint($b-laptop) {
      padding-top: convert-px2rem(20) !important;
      border-top: 1px solid var(--color__gray-4);
    }
  }

  &__founder {
    @include breakpoint($b-laptop) {
      margin-top: convert-px2rem(20);
    }
  }

  .hotOffersDescription {
    margin-bottom: convert-px2rem(40);
    @include breakpoint($b-laptop) {
      margin-bottom: convert-px2rem(50);
    }
  }
}

.projectTabs {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid var(--color__gray-4);
  padding: convert-px2rem(5) 0;
  margin: 0 convert-px2rem(-10) 0;
  width: calc(100% + #{convert-px2rem(20)});
  @include breakpoint($b-tabletS__max) {
    font-size: convert-px2rem(12);
  }

  &__tab {
    padding: convert-px2rem(10);
    width: 100%;
    border-right: 1px solid var(--color__gray-4);
    justify-content: center;

    &:last-child {
      border-right: none;
    }

    &_active {
      :global {
        .text {
          color: var(--color__blue);
        }
      }
    }

    :global {
      .text {
        font-family: var(--font-family__Inter-Bold);
      }
    }
  }
}
