.vinil {
  pointer-events: all;

  &__img {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
  }

  &--stop {
    animation-play-state: paused !important;
  }

  &--zoom {
    & .vinil__img {
      animation: scale-easeOutElastic 0.6s 0s linear forwards;
    }
  }

  &--out {
    & .vinil__img {
      animation: scale-easeOutElastic-reverse 0.6s linear forwards;
    }
  }
}

@keyframes scale-easeOutElastic {
  0% {
    transform: scale(1);
  }

  16% {
    transform: scale(1.2);
  }

  28% {
    transform: scale(1.1);
  }

  44% {
    transform: scale(1.15);
  }

  100% {
    transform: scale(1.15);
  }
}

@keyframes scale-easeOutElastic-reverse {
  0% {
    transform: scale(1.15);
  }

  16% {
    transform: scale(0.9);
  }

  28% {
    transform: scale(1.1);
  }

  44% {
    transform: scale(1);
  }

  100% {
    transform: scale(1);
  }
}
