@import '../../../../../../../assets/styles/_mixins/breakpoint';
@import '../../../../../../../assets/styles/_mixins/convert-px2rem';

.createProjectBonusBanner {
  margin-bottom: convert-px2rem(20);
  @include breakpoint($b-laptop) {
    margin-bottom: convert-px2rem(40);
  }

  :global {
    .icon-gem,
    .icon-golden-coin {
      margin-right: convert-px2rem(20) !important;
      @include breakpoint($b-tabletS__max) {
        display: none;
      }
    }
  }

  .createProjectBonus {
    &__link {
      @include breakpoint($b-tabletS__max) {
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
      }
    }
  }
}
