@import '../../../../../../assets/styles/_mixins/convert-px2rem';
@import '../../../../../../assets/styles/_mixins/breakpoint';

.ProjectRipperSavePopup {
  .projectConditions {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;

    &__item {
      padding: 0 convert-px2rem(10);
      width: 50%;
    }

    &__description {
      display: block;
      margin-bottom: convert-px2rem(2);
    }
  }

  .projectInformation {
    margin-top: convert-px2rem(20);
    width: 100%;
    border: 1px solid var(--color__gray-4);
    padding: convert-px2rem(20);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

    .project {
      &Cover {
        box-shadow: 0 convert-px2rem(4) convert-px2rem(20) rgba(0, 0, 0, 0.25);
        min-width: convert-px2rem(50);
        width: convert-px2rem(50);
        height: convert-px2rem(50);

        &Container {
          margin: 0;
        }
      }

      &Names {
        margin-top: convert-px2rem(15);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        &__title,
        &__album__title {
          width: 100%;
          font-size: convert-px2rem(14);
          line-height: convert-px2rem(20);
        }

        &__title {
          margin-bottom: convert-px2rem(2);
        }
      }
    }
  }
}
