@import '../../../../assets/styles/_mixins/breakpoint';
@import '../../../../assets/styles/_mixins/convert-px2rem';

.ripperAdditionalExpenses {
  width: 100%;

  &__content {
    width: 100%;
    margin-top: convert-px2rem(20);
  }

  .button {
    min-width: convert-px2rem(113);
  }

  .buttonRipperDownloadFile {
    padding: convert-px2rem(4) convert-px2rem(6.5) !important;
    background-color: var(--color__gray-4);

    svg {
      width: convert-px2rem(9);
    }
  }
}
