@import '../../../../../../assets/styles/_mixins/convert-px2rem';
@import '../../../../../../assets/styles/_mixins/breakpoint';

.dropDownMenu {
  position: relative;

  &__button {
    width: 100%;
    height: 100%;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    :global {
      button,
      .link {
        display: flex !important;
        flex-direction: row;
        align-items: center;
        justify-content: center;
      }
    }
  }
}
