@import '../../../../../../assets/styles/_mixins/breakpoint';
@import '../../../../../../assets/styles/_mixins/convert-px2rem';

$footer_padding_x: convert-px2rem(20);
$footer_padding_y: convert-px2rem(48);
$footer_max_width: convert-px2rem(1225);
$footer_font_size: convert-px2rem(12);

$copyright_margin_left: convert-px2rem(10);

.categoryNavigation {
  width: 100vw;
  margin: 0 auto;
  background-color: var(--color__white);
  overflow: hidden;
  @include breakpoint($b-laptop) {
    background-color: var(--color__gray-5);
  }

  &.categoryNavigation_black {
    background-color: #000;
    color: #fff;
    & path {
      fill: #fff;
    }
    .categoryNavigation__wrapper {
      padding: convert-px2rem(59) $footer_padding_x convert-px2rem(59);
    }
  }

  &__wrapper {
    margin: 0 auto;
    width: 100%;
    @include breakpoint($b-laptop) {
      padding: convert-px2rem(30) $footer_padding_x convert-px2rem(42);
      max-width: calc(#{$footer_max_width} + #{$footer_padding_x} * 2);
    }
  }

  &__container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

    @include breakpoint($b-laptop) {
      flex-direction: row;
      // justify-content: space-between;
      justify-content: flex-start;
      column-gap: convert-px2rem(47);
      margin: 0;
    }
  }

  &__category {
    @include breakpoint($b-tabletS__max) {
      width: 100% !important;
    }
    @include breakpoint($b-laptop) {
      // width: calc(100% / 4 - #{convert-px2rem(23)});
      margin: 0;
    }

    @include breakpoint($b-tabletS__max) {
      border-bottom: 1px solid var(--color__gray-4);
    }

    &:first-child {
      @include breakpoint($b-tabletS__max) {
        border-top: 1px solid var(--color__gray-4);
      }
    }

    &__name {
      position: relative;
      @include breakpoint($b-tabletS__max) {
        text-align: left !important;
        padding: convert-px2rem(7.5) convert-px2rem(10) convert-px2rem(7.5);
      }

      :global {
        .i-arrow {
          will-change: transform;
          transition: transform var(--transition-duration) ease;
          position: absolute;
          top: convert-px2rem(13);
          right: convert-px2rem(10);
        }
      }
    }

    &__links {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      margin: convert-px2rem(-3) 0 convert-px2rem(3);
      @include breakpoint($b-tabletS__max) {
        padding: 0 convert-px2rem(10);
      }

      @include breakpoint($b-laptop) {
        margin: convert-px2rem(4) 0 0;
      }

      :global {
        .link {
          margin: convert-px2rem(4) 0;

          &.link_with_img {
            width: convert-px2rem(129);
            height: auto;
            transition: opacity var(--transition-duration) ease;
            @include breakpoint($b-laptop) {
              width: convert-px2rem(114);
            }

            &:hover {
              @include breakpoint($b-desktop) {
                opacity: var(--hover-opacity);
              }
            }

            img {
              display: block;
              width: 100%;
              height: auto;
              transform: translate3d(0, 0, 0);
            }
          }
        }
      }
    }
  }

  &_align_right {
    text-align: right;

    &__category__links {
      @include breakpoint($b-tabletS__max) {
        align-items: flex-end !important;
      }
    }
  }

  &_getFreeKoins {
    :global {
      .link_with_img {
        margin: convert-px2rem(-30) convert-px2rem(-10) 0 convert-px2rem(10) !important;
        @include breakpoint($b-laptop) {
          margin: convert-px2rem(-5) convert-px2rem(-15) 0 convert-px2rem(15) !important;
        }
      }
    }
  }
}
