@import '../../../../assets/styles/_mixins/breakpoint';
@import '../../../../assets/styles/_mixins/convert-px2rem';

.contactUsForm {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: convert-px2rem(45);

  :global {
    .contact-us-form__button {
      margin-top: convert-px2rem(10);
      min-width: convert-px2rem(175) !important;
    }

    .checkbox-block {
      margin-top: convert-px2rem(20);
    }
  }
}
