@import '../../../../assets/styles/_mixins/breakpoint';
@import '../../../../assets/styles/_mixins/convert-px2rem';

.infinityScroll {
  &__trigger {
    width: 100%;
    padding: convert-px2rem(2);
  }

  &__preloaderProcess {
    padding: convert-px2rem(15) !important;
  }
}
