@import '../../../../assets/styles/_mixins/convert-px2rem';
@import '../../../../assets/styles/_mixins/breakpoint';

.navigationNotifications {
  position: absolute;
  top: 50%;
  left: calc(50% + #{convert-px2rem(16)});
  @include breakpoint($b-tabletS__max) {
    transform: translate(0, -50%);
  }
  @include breakpoint($b-laptop) {
    position: absolute;
    top: convert-px2rem(-12);
    left: auto;
    right: convert-px2rem(-12);
  }
}
