@import '../../../../../../assets/styles/_mixins/convert-px2rem';
@import '../../../../../../assets/styles/_mixins/breakpoint';

.headerSearch {
  position: relative;
  margin-left: convert-px2rem(20);
  width: convert-px2rem(325);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;

  &__block {
    height: convert-px2rem(54);
  }

  &__searchUnit {
    padding: 0 convert-px2rem(20) 0 0 !important;
  }

  &__searchReset {
    padding: 0 convert-px2rem(20) 0 0 !important;
  }

  &__input {
    height: 100%;
    padding-left: convert-px2rem(10) !important;
  }

  &__preview {
    height: 100%;
    width: 100%;
    justify-content: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;

    :global {
      .icon {
        width: convert-px2rem(20);
        height: auto;
      }
    }
  }

  :global {
    .icon {
      path {
        transition: fill var(--transition-duration) ease;
      }
    }
  }
}
