@import '../../../../../../assets/styles/_mixins/breakpoint';
@import '../../../../../../assets/styles/_mixins/convert-px2rem';

$navigation_margin-x__header: convert-px2rem(10);
$navigation_margin-x__footer: convert-px2rem(5);
$navigation_font-size__header: convert-px2rem(16);
$navigation_font-size__footer: convert-px2rem(12);

.headerNav {
  margin-right: auto;

  &__DropDownMenu {
    &_fixed {
      path {
        fill: var(--color__black);
      }
    }

    &_transparent {
      path {
        fill: var(--color__black);
      }
    }

    &__list {
      @include breakpoint($b-laptop) {
        right: convert-px2rem(-12);
        top: convert-px2rem(38);
      }
    }
  }
}
