@import '../../../../../../../../assets/styles/_mixins/convert-px2rem';
@import '../../../../../../../../assets/styles/_mixins/breakpoint';

.HeaderSearchTabs {
  width: convert-px2rem(345);
  position: absolute;
  left: 0;
  top: calc(100% + #{convert-px2rem(9)});
  padding: convert-px2rem(10) 0 0;
  border: 1px solid var(--color__gray-6);
  background-color: var(--color__white);
  box-shadow: 0 convert-px2rem(1) convert-px2rem(30) 0 rgba(0, 0, 0, 0.10);
  transition: height var(--transition-duration);

  &__info {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  &__list {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  &__navigation {
    margin: 0 ;
    width: 100%;
  }

  &__content {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    min-height: convert-px2rem(60 + 100);
  }

  &__loader {
    margin: 0;
    width: 100%;
  }

  &__loaderContainer {
    justify-content: flex-start;
    padding: convert-px2rem(35) convert-px2rem(10) convert-px2rem(10);
  }

  &__button {
    margin: 0 convert-px2rem(15) 0 0 !important;

    &:first-child {
      margin-left: convert-px2rem(20) !important;
    }
  }

  &__count {
    padding: convert-px2rem(10);
    border-top: 1px solid var(--color__gray-4);
  }

  &__link {
    width: calc(100% - #{convert-px2rem(40)});
    cursor: pointer !important;
    margin: 0 convert-px2rem(20) convert-px2rem(20);

    &:hover {
      @include breakpoint($b-laptop) {
        opacity: var(--hover-opacity);
        background-color: var(--color__white);
      }
    }
  }

  &__noResults {
    left: 0;
    top: 0;
    position: absolute;
    height: 100%;
    justify-content: center;
    padding: 0 0 convert-px2rem(66);
  }
}
