@import '../../../../assets/styles/_mixins/convert-px2rem';
@import '../../../../assets/styles/_mixins/breakpoint';

.marketplaceCardAddWantButton {
  min-width: convert-px2rem(185) !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
  justify-content: space-between;
  @include breakpoint($b-laptop) {
    min-width: convert-px2rem(150) !important;
  }

  :global {
    .button__content {
      position: relative;
      margin: 0 auto;
    }

    .text {
      padding-left: convert-px2rem(20) !important;
      padding-right: convert-px2rem(20) !important;
    }
  }

  &__splash {
    position: relative;
    padding: 0 convert-px2rem(10);

    &:before {
      content: '';
      position: absolute;
      top: convert-px2rem(-18);
      left: 0;
      width: 1px;
      height: convert-px2rem(50);
      background-color: var(--color__gray-1);
    }
  }
}

.marketplaceCardRemoveWantButton {
  min-width: convert-px2rem(146) !important;
  background-color: var(--color__white) !important;
  border: 2px solid var(--color__white) !important;

  &:hover {
    @include breakpoint($b-laptop) {
      opacity: var(--hover-opacity);
    }
  }

  :global {
    .text {
      color: var(--color__black) !important;
    }
  }
}
