@import '../../../../../assets/styles/_mixins/breakpoint';
@import '../../../../../assets/styles/_mixins/convert-px2rem';

.inputAutocompleteFriend {
  background-color: transparent !important;

  &__nick {
    font-size: convert-px2rem(14);
    font-family: var(--font-family__Inter-SemiBold) !important;

    :global {
      .emoji {
        width: convert-px2rem(14);
        bottom: convert-px2rem(1);
      }
    }
  }
}
