@import '../../../../assets/styles/_mixins/breakpoint';
@import '../../../../assets/styles/_mixins/convert-px2rem';

.comments,
.dialog {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;

  :global {
    .searched-text {
      background-color: #efff39;
    }
  }

  &__area {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    padding-bottom: convert-px2rem(10);
    @include breakpoint($b-tabletS__max) {
      margin-right: convert-px2rem(-10);
      width: calc(100% + #{convert-px2rem(10)});
    }
  }

  :global {
    .preloader-process {
      height: 100% !important;
      top: 0;
      z-index: 999099;
    }

    .ScrollbarsCustom {
      &-Track {
        background: transparent !important;
        width: convert-px2rem(5) !important;
      }

      &-Thumb {
        background: var(--color__gray-4) !important;
      }
    }
  }

  &Header {
    position: relative;
    margin-bottom: convert-px2rem(10);
  }
}

.dialog {
  position: relative;

  &__newMessages {
    background-color: var(--color_MESSAGE_INFORMATION);
    border-radius: convert-px2rem(5);
    color: var(--color__blue-2);
    margin: convert-px2rem(7) auto;
    padding: convert-px2rem(5) convert-px2rem(15);
    min-width: convert-px2rem(250);
    text-align: center;
  }
}

.comments {
  @include breakpoint($b-tabletS__max) {
    padding-bottom: 0;
  }

  &Header {
    @include breakpoint($b-tabletS__max) {
      margin-bottom: convert-px2rem(20);
    }
  }

  &__showNewMessage {
    &Input {
      cursor: pointer;
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      justify-content: flex-start;
      margin: 0 0 convert-px2rem(20);
      @include breakpoint($b-tablet) {
        margin-top: convert-px2rem(10);
        padding-left: convert-px2rem(60);
      }
    }

    &Description {
      width: 100%;
      color: var(--color__gray-3);
      padding: convert-px2rem(9) convert-px2rem(10);
      background-color: var(--color__gray-5);
      border: 1px solid var(--color__gray-4);
    }
  }

  .dialogMessage {
    margin: 0 0 convert-px2rem(10);

    &__date {
      margin-left: convert-px2rem(15);
      @include breakpoint($b-tabletS__max) {
        font-size: convert-px2rem(12);
      }
    }
  }
}
