@import '../_mixins/convert-px2rem';

$positionYEnter: convert-px2rem(-20);
$positionYExit: 0;
$duration: 240ms;
$transition: transform $duration cubic-bezier(0.4, 0, 0.2, 1),
opacity $duration;

.newMobileMenuAnimation {
  &Enter {
    opacity: 0;
    transform: translate3d(0, $positionYEnter, 0);
    pointer-events: none;

    &_active {
      opacity: 1;
      transform: translate3d(0, $positionYExit, 0);
      transition: $transition;
    }
  }

  &Exit {
    opacity: 1 !important;
    transform: translate3d(0, $positionYExit, 0);

    &_active {
      opacity: 0 !important;
      transform: translate3d(0, $positionYEnter, 0);
      transition: $transition;
    }
  }
}
