@import '../../../assets/styles/_mixins/breakpoint';
@import '../_mixins/convert-px2rem';

$widthDuration: 160ms;
$duration: 200ms;
$bigSize: calc(#{convert-px2rem(1265 - 40 + 3)} / 8);

.zoomInFromLeftAnimation {
  &Enter {
    max-width: 0 !important;
    transform: scale(0) !important;

    &_active {
      transform: scale(1) !important;
      max-width: $bigSize !important;
      transition:
        max-width $widthDuration ease,
        transform $duration ease !important;
    }
  }
}
