@import '../../../../../../assets/styles/_mixins/breakpoint';
@import '../../../../../../assets/styles/_mixins/convert-px2rem';

.userControlBar {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  @include breakpoint($b-tabletS__max) {
    min-width: convert-px2rem(40);
    width: convert-px2rem(40);
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: -1px 0 0 convert-px2rem(15);
  }

  &__item {
    @include breakpoint($b-laptop) {
      margin-right: convert-px2rem(8);
    }
    @include breakpoint($b-desktop) {
      margin-right: convert-px2rem(15);
    }

    &:last-child {
      margin-right: 0;
    }
  }
}
